{% extends "base.html" %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us..</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is about us page.</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis justo non consequat consectetur. Nullam lacus eros, rutrum ac turpis vitae, ornare aliquam magna. Quisque eu dui maximus, feugiat nisi non, blandit tortor. Aenean felis lorem, varius sed hendrerit nec, faucibus ut orci. Morbi posuere facilisis nibh, sed iaculis ante laoreet eu. Aliquam quis finibus sapien, eu facilisis risus. Donec faucibus ullamcorper eros in imperdiet. Vivamus scelerisque consequat mauris, a ultrices purus egestas ac. Morbi sed tortor ullamcorper, sagittis ligula eu, fringilla dolor.
                    <br /><br />
                    Suspendisse potenti. Suspendisse augue nunc, varius eu viverra nec, laoreet vitae risus. Sed id varius nibh, nec viverra arcu. Suspendisse nec eros at lectus scelerisque fringilla. Mauris ut lorem at arcu sollicitudin pulvinar quis at nisl. Vestibulum mi quam, eleifend eget mi vitae, suscipit vestibulum purus. Phasellus mauris ligula, sollicitudin ac nisi vel, vestibulum semper tortor. Fusce dictum id ante quis vulputate. Vestibulum cursus auctor purus ac tincidunt. Phasellus ac tellus metus. Sed scelerisque lobortis elit, a ullamcorper purus pharetra nec. Ut purus augue, ultricies non urna a, posuere porttitor augue. Aliquam sagittis condimentum erat eget consectetur.
                    <br /><br />
                    Proin aliquam eget metus in rhoncus. Suspendisse sed scelerisque risus. Etiam interdum faucibus lorem, sed fringilla nunc rutrum vitae. Vestibulum aliquet varius eleifend. Pellentesque dictum tortor lacus, ut dignissim est feugiat viverra. Integer volutpat, nisi a congue pretium, elit lorem lobortis augue, in faucibus metus enim et turpis. Donec pellentesque auctor mauris, quis placerat enim vulputate id. Vestibulum tincidunt sem quis orci condimentum, et luctus augue bibendum. Integer pulvinar quam orci, eget aliquet nisl fringilla in. Integer tristique posuere nibh, nec euismod justo mollis nec.
                </p>
                <br /><br />
            </div>
        </center>
    </div>
</div>


{% endblock content %}

